In [5]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, update

sqlalchemy.__version__
engine = create_engine('sqlite:///CSC2008Student.db', echo=False)
meta = MetaData()

students = Table(
    'students', meta,
    Column('sid', Integer, primary_key=True),
    Column('name', String),
    Column('grade', String),
)

meta.create_all(engine)
print("----------------------------------------")
print("Q2 - SHOW RESULTS FOR EMPTY TABLE")
# For Q2 - show result for empty table.
s = students.select()
conn = engine.connect()
result = conn.execute(s)
for row in result:
    print(row)
print("END OF Q2 - SHOW RESULTS FOR EMPTY TABLE")
print("----------------------------------------")
print("----------------------------------------")
print("Q3 - INSERT BRAN STARK")
# For Q3 - insert and display rows after insertion.
ins = students.insert().values(sid = '1901234', name = 'Bran Stark', grade = 'NA')
result = conn.execute(ins)
result = conn.execute(s)
for row in result:
    print(row)
print("END OF Q3 - INSERT BRAN STARK")
print("----------------------------------------")
print("----------------------------------------")
print("Q4 - INSERT SANSA STARK AND JON SNOW")
#Q4 - insert Sansa Stark and Jon Snow and display result
conn.execute(students.insert(), [
   {'sid' : '1902345' ,'name':'Sansa Stark', 'grade' : 'NA'},
   {'sid' : '1903456' ,'name':'Jon Snow','grade' : 'NA'},
])
result = conn.execute(s)
for row in result:
    print(row)
print("END OF Q4 - INSERT SANSA STARK AND JON SNOW")
print("----------------------------------------")
print("----------------------------------------")
print("Q5 - UPDATE SANSA STARK GRADE")
#Q5 - Update Sansa Stark grade to 'A-' and display result
stmt = (update(students).where(students.c.name == 'Sansa Stark').values(grade='A-'))
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)
print("END OF Q5 - UPDATE SANSA STARK GRADE")
print("----------------------------------------")
print("----------------------------------------")
print("Q6 - UPDATE JON SNOW GRADE")
#Q6 - Update Jon Snow grade to 'A+' and display results
stmt = (update(students).where(students.c.name == 'Jon Snow').values(grade='A+'))
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)
print("END OF Q6 - UPDATE JON SNOW GRADE")
print("----------------------------------------")
print("----------------------------------------")
print("Q7 - DELETE BRAN STARK")
#Q7 - delete Bran Stark and display results
stmt = students.delete().where(students.c.name == 'Bran Stark')
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)
print("END OF Q7 - DELETE BRAN STARK")
print("----------------------------------------")
print("----------------------------------------")
print("Q8 - DELETE ALL STUDENTS")
#Q8 - delete all students in and display results
stmt = students.delete()
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)
print("END OF Q8 - DELETE ALL STUDENTS")
print("----------------------------------------")

----------------------------------------
Q2 - SHOW RESULTS FOR EMPTY TABLE
END OF Q2 - SHOW RESULTS FOR EMPTY TABLE
----------------------------------------
----------------------------------------
Q3 - INSERT BRAN STARK
(1901234, 'Bran Stark', 'NA')
END OF Q3 - INSERT BRAN STARK
----------------------------------------
----------------------------------------
Q4 - INSERT SANSA STARK AND JON SNOW
(1901234, 'Bran Stark', 'NA')
(1902345, 'Sansa Stark', 'NA')
(1903456, 'Jon Snow', 'NA')
END OF Q4 - INSERT SANSA STARK AND JON SNOW
----------------------------------------
----------------------------------------
Q5 - UPDATE SANSA STARK GRADE
(1901234, 'Bran Stark', 'NA')
(1902345, 'Sansa Stark', 'A-')
(1903456, 'Jon Snow', 'NA')
END OF Q5 - UPDATE SANSA STARK GRADE
----------------------------------------
----------------------------------------
Q6 - UPDATE JON SNOW GRADE
(1901234, 'Bran Stark', 'NA')
(1902345, 'Sansa Stark', 'A-')
(1903456, 'Jon Snow', 'A+')
END OF Q6 - UPDATE JON SNOW GRADE
----------------------------------------
----------------------------------------
Q7 - DELETE BRAN STARK
(1902345, 'Sansa Stark', 'A-')
(1903456, 'Jon Snow', 'A+')
END OF Q7 - DELETE BRAN STARK
----------------------------------------
----------------------------------------
Q8 - DELETE ALL STUDENTS
END OF Q8 - DELETE ALL STUDENTS
----------------------------------------