In [1]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, update

sqlalchemy.__version__
engine = create_engine('sqlite:///CSC2008Student.db', echo=False)
meta = MetaData()

students = Table(
    'students', meta,
    Column('sid', Integer, primary_key=True),
    Column('name', String),
    Column('grade', String),
)

meta.create_all(engine)

In [2]:
# For Q2 - show result for empty table.
s = students.select()
conn = engine.connect()
result = conn.execute(s)
for row in result:
    print(row)

In [3]:

# For Q3 - insert and display rows after insertion.
ins = students.insert().values(sid = '1901234', name = 'Bran Stark', grade = 'NA')
result = conn.execute(ins)
result = conn.execute(s)
for row in result:
    print(row)

(1901234, 'Bran Stark', 'NA')

In [4]:
#Q4 - insert Sansa Stark and Jon Snow and display result
conn.execute(students.insert(), [
   {'sid' : '1902345' ,'name':'Sansa Stark', 'grade' : 'NA'},
   {'sid' : '1903456' ,'name':'Jon Snow','grade' : 'NA'},
])
result = conn.execute(s)
for row in result:
    print(row)

(1901234, 'Bran Stark', 'NA')
(1902345, 'Sansa Stark', 'NA')
(1903456, 'Jon Snow', 'NA')

In [5]:
#Q5 - Update Sansa Stark grade to 'A-' and display result
stmt = (update(students).where(students.c.name == 'Sansa Stark').values(grade='A-'))
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)

(1901234, 'Bran Stark', 'NA')
(1902345, 'Sansa Stark', 'A-')
(1903456, 'Jon Snow', 'NA')

In [6]:
#Q6 - Update Jon Snow grade to 'A+' and display results
stmt = (update(students).where(students.c.name == 'Jon Snow').values(grade='A+'))
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)

(1901234, 'Bran Stark', 'NA')
(1902345, 'Sansa Stark', 'A-')
(1903456, 'Jon Snow', 'A+')

In [7]:
#Q7 - delete Bran Stark and display results
stmt = students.delete().where(students.c.name == 'Bran Stark')
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)

(1902345, 'Sansa Stark', 'A-')
(1903456, 'Jon Snow', 'A+')

In [8]:
#Q8 - delete all students in and display results
stmt = students.delete()
conn.execute(stmt)
result = conn.execute(s)
for row in result:
    print(row)